.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

body{
  background-color: #f7f7f7;
}

form {
  height: 5vh;
  position: relative;
  bottom: 55rem;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 520px;
  display: flex;
  font-size: 1.5rem;
  left: 8.5rem;
}

form button {
  width: 50px;
  height: 25px;
  border-radius: 0rem;
  background-color: #00d9ff;
  position: absolute;
  top: 1.3vh;
  left: 27rem;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  color: grey;
  outline: none;
  border: none;
  padding: 0px 10px;
}


.message {
  position: relative;
  display: block;
  align-items: center;
  background-color: white;
  width: 520px;
  left: 8rem;
  margin-bottom: 10px;
}

.userInfo{
  display: flex;
}

h3{
  display:block;
}

.sent {
  flex-direction: row;
}

.sent p {
  color: black;
  margin-left: 10px;
}

p {
  max-width: 500px;
  line-height: 24px;
  position: relative;
  color: rgb(0, 0, 0);
  text-align: left;
  left: 60px;
  bottom: 2rem;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px 15px;
  
}